{% extends 'FrontEnd/templateFE/base.html' %}
{% load static %}
{% block page_title %}Jobs{% endblock page_title %}
{% block content %}

{% load static %}

{% include 'FrontEnd/templateFE/topbar.html' %}
{% include 'FrontEnd/templateFE/navbar.html' %}

<div class="container mt-3 mb-5">
    <div class="text-center mb-5">
        <h3>Jobs</h3>
        {% comment %} <hr class="w-50 mx-auto"> {% endcomment %}
        <hr class="w-30 mx-auto">
    </div>
    {% for item in jobs %}
    <div class="alert alert-light col-md-12" role="alert">
       <b> {{item.jobTitle}}</b>&nbsp;&nbsp;&nbsp;&nbsp; Posted on : {{item.createdat|date:"Y-m-d"}} &nbsp;&nbsp;&nbsp;&nbsp; Expired on : {{item.expiration_date|date:"Y-m-d"}}  <a href="{% url 'job_details' job_id=item.id %}"  class=" float-end">&nbsp;&nbsp;&nbsp;&nbsp; View Details</a>
    </div>
    <hr>
    {% endfor %}


</div>

    {% include 'FrontEnd/templateFE/footer.html' %}
{% endblock %}

{% block extra_needed_js %}


{% endblock extra_needed_js %}