
    {% load static %}
    
    <div class="container-fluid cardwhole">
		<div class="row">
			<div class="col-12 DegreeTitle">
				<h3>Undergraduate Program</h3>
				<i class="fa-solid fa-minus fa-2xl footer"></i>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/bste.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">BS Textile Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/bscs.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">BS Computer Science</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/bsse.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">BS Software Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/bsit.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">BS Artificial Intelligence</p>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid cardwhole">
		<div class="row">
			<div class="col-12 DegreeTitle">
				<h3>Master Program</h3>
				<i class="fa-solid fa-minus fa-2xl footer"></i>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/msba.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">MS Textile Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/msmathn.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">MS Computer Science</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/msphn.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">MS Software Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/mba.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">MS Artificial Intelligence</p>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid cardwhole">
		<div class="row">
			<div class="col-12 DegreeTitle">
				<h3>Doctroal Program</h3>
				<i class="fa-solid fa-minus fa-2xl footer"></i>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/phdte.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">PHD Textile Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/phdcs.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">PHD Computer Science</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/phdadvmaterial.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">PHD Software Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/phdch.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">PHD Artificial Intelligence</p>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid cardwhole cardwhole1">
		<div class="row">
			<div class="col-12 DegreeTitle">
				<h3>Academic Departments</h3>
				<i class="fa-solid fa-minus fa-2xl footer"></i>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/yarn.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">Department Of Textile Engineering</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/dcs.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">Department Of Computer Science</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/das.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">Department Of Applied Science</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<div class="card">
				  <img src="https://ntu.edu.pk/uploaded_images/img/design.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				    <p class="card-text">Department Of Arts & Design</p>
				  </div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid buttons">
		<div class="row">
			<div class="col-sm-6 col-md-2">
				<a href="student-notice-board"><button type="button" class="btn btn-primary">Notice Board <span class="badge bg-white">1</span></button></a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a href="/events"><button type="button" class="btn btn-success">Upcoming Events <span class="badge bg-white">1</span></button></a>
			</div>
			<div class="col-sm-6 col-md-2">
				<a href="/jobs"><button type="button" class="btn btn-warning">Careers <span class="badge bg-white">1</span></button></a>
			</div>
			<div class="col-sm-6 col-md-2">
				<a href="/news"><button type="button" class="btn btn-info">News <span class="badge bg-white">1</span></button></a>
			</div>
			<div class="col-sm-6 col-md-2">
				<a href="/tender"><button type="button" class="btn btn-danger">Tenders / EOI <span class="badge bg-white">1</span></button></a>
			</div>
		</div>
	</div>

	<div class="container-fluid map">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<p>STREAMLNING CORRECT USE OF PAKISTAN POLITICAL MAP</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<p class="map1"><a href="" class="maplink">Click to View Pakistan</a> <p class="map">Political Map</p></p>
			</div>
		</div>
	</div>

	<div class="container-fluid logos">
		<div class="row">
			<div class="col-sm-12 col-md-2">
				<img src="https://ntu.edu.pk/assets/img/external/pakistan_citizen_portal.png">
			</div>
			<div class="col-sm-12 col-md-2">
				<img src="https://ntu.edu.pk/assets/img/external/ehsas_logo.png">
			</div>
			<div class="col-sm-12 col-md-2 d-flex justify-content-center">
				<img class="align-middle" src="https://ntu.edu.pk/assets/img/external/Nest.png">
			</div>
			<div class="col-sm-12 col-md-2">
				<img src="https://ntu.edu.pk/assets/img/external/PEEF.png">
			</div>
			<div class="col-sm-12 col-md-4 d-flex justify-content-center">
				<img src="https://ntu.edu.pk/assets/img/external/cpec_logo.png">
			</div>
		</div>
	</div>