  {% load static %}
  <!-- Footer Start -->
  <div class="container-fluid footerupper">
	<div class="row">
		<div class="col-sm-12 col-md-3">
			<h5>Faculty & Staff</h5>
			<i class="fa-solid fa-minus footer fa-2xl"></i>
			<ul>
				<li>NTU Webmail</li>
				<li>Update Profile</li>
				<li>Faculty & Staff Handbook</li>
				<li>Faculty Publications</li>
				<div class="icon">
					<div class="iconspan d-inline-flex justify-content-center">
						<i class="fa-brands fa-facebook-f"></i>
					</div>
					<div class="iconspan d-inline-flex justify-content-center">
						<i class="fa-brands fa-twitter"></i>
					</div>
					<div class="iconspan d-inline-flex justify-content-center">
						<i class="fa-brands fa-linkedin-in"></i>
					</div>
					<div class="iconspan d-inline-flex justify-content-center">
						<i class="fa-brands fa-youtube"></i>
					</div>
				</div>
			</ul>
		</div>
		<div class="col-sm-12 col-md-3">
			<h5>Students</h5>
			<i class="fa-solid fa-minus footer fa-2xl"></i>
			<ul>
			<li>Academic Calendar</li>
			<li>Class Time Table</li>
			<li>Exam Date Sheet</li>
			<li>Semester Results</li>
			<li>Teacher Evaluation</li>
			</ul>
		</div>
		<div class="col-sm-12 col-md-3">
			<h5>Quick Links</h5>
			<i class="fa-solid fa-minus footer fa-2xl"></i>
			<ul>
			<a href="/admin"><li>Master Panel</li></a>
			<a href="/master-login"><li>Admin Panel</li></a>
			<a href="/user-panel"><li>User Panel</li></a>
			</ul>
		</div>
		<div class="col-sm-12 col-md-3">
			<h5>Conferences / Innovation Centres</h5>
			<i class="fa-solid fa-minus footer fa-2xl"></i>
			<ul>
			<li>ICPC 2021</li>
			<li>Covitex 2021</li>
			<li>Dice Textile 2019</li>
			<li>International Conference on Technical Textiles 2017</li>
			<li>Conference on Emerging Trends in Knitting (ETK-2018)</li>
			</ul>
		</div>
	</div>
</div>
<footer class="container-fluid">
	<div class="row">
		<div class="col">
			<p class="footer">Copyright © 2023. All Rights Reserved. National Textile University. | Updated 13th Jun, 2023</p>
		</div>
	</div>
</footer>

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
