 {% load static %}
 <!-- Topbar Start -->
 <header class="top">
    <nav class="py-2 bg-light top">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="/karachi" class="nav-link link-dark px-2 border-start border-end">Karachi Campus</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-end">Financial Aid</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-end">Student Portal</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-end">Online Jobs</a></li>
            <li class="nav-item"><a href="/faculty" class="nav-link link-dark px-2 border-end">Faculty</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-end">IT Helpdesk</a></li>
          </ul>
          <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-end">Webmail Change Password</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 border-end">Webmail</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2"><i class="fa-solid fa-magnifying-glass"></i></a></li>
          </ul>
        </div>
    </nav>
</header>
    
    <div class="container-fluid d-none d-lg-block" style="background-color: #a51c30">
        <div class="row align-items-center py-4 px-xl-5">
            <div class="col-lg-3">
                <a href="" class="text-decoration-none">
                    <a class="navbar-brand" href="/"><img src="{% static 'images/download.png' %}"></a>
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
                    <div class="text-left">
                        <h6 class="font-weight-semi-bold mb-1" style="color:white">Address</h6>
                        <small style="color:white">Sheikhupura Road, Faisalabad 37610, Pakistan</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
                    <div class="text-left">
                        <h6 class="font-weight-semi-bold mb-1" style="color:white">Email</h6>
                        <small style="color:white">info@ntu.edu.pk</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-2x fa-phone text-primary mr-3"></i>
                    <div class="text-left">
                        <h6 class="font-weight-semi-bold mb-1" style="color:white">Call</h6>
                        <small style="color:white">+92-41-9230081</small>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
    <!-- Topbar End -->